/* nav */
.hambtn{
    display: none;
}
nav {
    font-family: 'Pretendard-Regular';
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.5);
}

nav a {
    color: white;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 100%;
    margin: auto;
}

.navbar>.menu {
    right: 0;
}

.navbar>.menu>ul {
    display: flex;
}

.navbar>.logo>a {
    font-size: 55px;
    font-weight: bold;
}
i{
    color: whitesmoke;
}
.sign{
    align-items: center;
}
/* .sign>li:nth-child(2){
    padding-right: 15px;
} */

.logo i:hover{
    transition: 0.2s;
    scale: 1.1;
}

.navbar .sign {
    position: absolute;
    top: 5px;
    right: 120px;
}

.navbar .sign>li {
    margin: 0 0 16px 10px;
    font-size: 13px;
}

.navbar .sign>li>a:hover {
    color: rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}
.snsicon{
    position: absolute;
    top: 5px;
    right: 0;
}
.snsicon i{
    font-size: 25px;
    padding-left: 10px;
}
.snsicon>li:hover:nth-child(1) i{color:#D09E88;transition: 0.2s;}
.snsicon>li:hover:nth-child(2) i{color:#53bbf4;transition: 0.2s;}
.snsicon>li:hover:last-child i{color:#ec0101;transition: 0.2s;}

.navbar .mainmenu {
    position: absolute;
    width: 55%;
    justify-content: space-between;
    font-size: 18px;
    left: 26%;
    /* transform: translateX(-50%); */
}

.navbar .mainmenu a {
    padding: 5px;
}

.navbar .mainmenu a:hover {
    color: rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}
/* login *//* login *//* login *//* login */
/* login *//* login *//* login *//* login */
.loginwrap{
    background-image: url(../image/login_background.jpg);
    width: 100vw;
    height: 100vh;
    /* opacity: 0.7; */
}
.loginbox{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    width: 270px;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    position: absolute;

}
.login{
    width: 100%;
    display: flex;
    text-align: right;
}
.login>div{
    margin: auto;
}
.login>div input{
    background-color: #fff;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 20px;
    border: none;
}
.loginbox>ul{
    display: flex;
    justify-content: space-around;
    /* padding: 10px 0; */
}
.loginbox>input{
    padding: 3px 30px;
    margin: 25px 0;
    font-weight: 500;
    /* color: black; */
    /* background: white; */
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.loginbox>input:hover{
    opacity: 0.8;
}
#login{
    background-color: #0055ff;
    color: #fff;
}
.login>ul>li{
    font-family: 'GmarketSansMedium';
    color: white;
}
.loginbox>ul a{
    color: white;
    font-size: 12px;
    font-family: 'Pretendard-Regular';
}

@media screen and (max-width:1279px){
    nav .mainmenu{
        white-space: nowrap;
    }
    .navbar .mainmenu{
        width: 75%;
        font-size: 16px;
    }
    .sign i{
        font-size: 22px;
    }
    .navbar .sign>li{
        font-size: 12px;
    }
}
@media screen and (max-width:480px){
    nav{
        position: relative;
        height: 90px;
    }
    .navbar {
        width: 100%;
        background-color: black;
        display: block;
    }
    .navbar>.logo>a{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 40px;
    }
    .navbar>.menu>.mainmenu{
        background-color: black;
        display: block;
        text-align: center;
        /* right: 0; */
        top: 90px;
        width: 100%;
        left: 0;
    }
    .navbar>.menu>.mainmenu>li{
        border-top: 1px solid #777;
        padding: 15px 0;
    }
    .hambtn{
        position: absolute;
        bottom: 6px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
        display: block;
        /* background-color: red; */
    }
    .navbar .sign{
        right: 10px;
    }
    .navbar .sign>li{
        margin: 0 0 16px 20px;
    }
    .snsicon{
        top: 35px;
        right: 10px;
    }
    .navbar>.menu {
        display: none;
    }
    .navbar>.menu.active{
        display: block;
        border: none;
    }
}