body {
    background-image: url(../image/background.jpg);
    background-attachment: fixed;
    background-size: 100%;
}

header {
    background-color: black;
}

/* nav */
.hambtn{
    display: none;
}
nav {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.2);
}

nav a {
    color: white;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 100%;
    margin: auto;
}

.navbar>.menu {
    right: 0;
}

.navbar>.menu>ul {
    display: flex;
}

.navbar>.logo>a {
    font-size: 55px;
    font-weight: bold;
}
i{
    color: whitesmoke;
}
.sign{
    align-items: center;
}
/* .sign>li:nth-child(2){
    padding-right: 15px;
} */

.logo i:hover{
    transition: 0.2s;
    scale: 1.1;
}

.navbar .sign {
    position: absolute;
    top: 5px;
    right: 120px;
}

.navbar .sign>li {
    margin: 0 0 16px 10px;
    font-size: 13px;
}

.navbar .sign>li>a:hover {
    color: rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}
.snsicon{
    position: absolute;
    top: 5px;
    right: 0;
}
.snsicon i{
    font-size: 25px;
    padding-left: 10px;
}
.snsicon>li:hover:nth-child(1) i{color:#D09E88;transition: 0.2s;}
.snsicon>li:hover:nth-child(2) i{color:#53bbf4;transition: 0.2s;}
.snsicon>li:hover:last-child i{color:#ec0101;transition: 0.2s;}

.navbar .mainmenu {
    position: absolute;
    width: 55%;
    justify-content: space-between;
    font-size: 18px;
    left: 26%;
    /* transform: translateX(-50%); */
}

.navbar .mainmenu a {
    font-weight: bold;
    padding: 5px;
}

.navbar .mainmenu a:hover {
    color: rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}

/* mainbanner */
.slide {
    position: relative;
    margin: auto;
    padding-top: 80px;
    width: 100%;
    height: 100%;
    /* text-align:center; */
    overflow: hidden;
}

.slide .slideCnt {
    width: 100%;
    height: 33vw;
}

.slide .slideCnt li {
    position: absolute;
    width: 100%;
    /* height:100%; */
}

.slideCnt img {
    width: 100%;
}

.slide>.btn {
    position: absolute;
    width: 70%;
    display: flex;
    justify-content: space-between;
    top: 47%;
    left: 50%;
    transform: translateX(-50%);
}

.slide>.btn>li {
    align-items: center;

}

.slide .btn i {
    border-radius: 100%;
    padding: 10px 15px;
    font-size: 24px;
    border: 2px solid #444;
    color: #444;
}

.slide .btn i:hover {
    border: 2px solid #999;
    color: #999;
    transition: 0.3s;
}

.slide .indicator {
    /* display:inline-block; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
}

.slide .indicator a {
    padding: 0 10px;
    margin: 0 13px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    /* color:#333; */
}

.slide .indicator a.on {
    background-color: rgba(255, 255, 255, 0.7);
    transition: 0.2s;
    color: #fff;
}

.slide .autoBtn {
    position: absolute;
    bottom: 5%;
    right: 1%;
    border-radius: 5px;
    padding: 5px 15px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #555;
    color: #555;
}

.slide .autoBtn:hover {
    border-radius: 50px;
    transition: 0.5s;
}

/* camera */
.camera {
    background-color: #f4f4f4;
    width: 100%;
    padding: 100px 0;
    font-family: 'GmarketSansMedium';
    white-space: nowrap;
}
.camera>.camerawrap>h2{
    font-size: 45px;
}
.camera>.camerawrap>h3{
    font-size: 35px;
}
.camera>.camerawrap{
    margin: auto;
    /* background-color: #4F86EC; */
    width: 71%;
}
.camera .cameraimg{
    position: relative;
    width: 100%;
}
.camera .cameraimg>img{
    border-radius: 30px;
    width: 100%;
    margin: 80px 0 60px 0;
}
.camera .abtext{
    position: absolute;
    top: 15%;
    left: 3.5%;
}
.camera .abtext>li{
    font-size: 22px;
    font-weight: bold;
    line-height: 35px;
}
.swiper{
    /* background-color: aqua; */
    width: 900px;
    height: 700px;
    margin: auto;
    overflow: hidden;
    }
.swiper>h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
}
.swiper-slide{
    text-align: center;
    font-size: 13px;
}
.swiper li{
    width: 90%;
    white-space: wrap;
}
.swiper img{
    width: 100%;
    border-radius: 25px;
    margin-bottom: 10px;
}
.camerawrap>.swipericon{
    width: 100%;
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
    opacity: 0.5;
}
.camerawrap>.swipericon>img{
    width: 40px;
}


/* youtube */
.youtube {
    padding: 150px 0;
    width: 100%;
    height: 750px;
    background-color: black;
}

.youtube>iframe {
    width: 100%;
    height: 100%;
}

/* message */
.message {
    width: 100%;
    height: 700px;
    text-align: center;
    background: none;
}

.message>div {
    font-size: 3.5vw;
    font-weight: bold;
    line-height: 700px;
    color: white;
}

/* items */
.items {
    background: white;
}

.items>div {
    margin: auto;
    width: 55%;
    display: flex;
}

.lineup {
    margin: auto;
}

.lineup>h2 {
    text-align: center;
    padding: 60px 0 30px 0;
    font-size: 25px;
}

.display-area {
    /* background-color: yellow; */
    width: 306px;
    overflow: hidden;
    margin: auto;
}

.cards-wrapper {
    width: 100%;
    display: flex;
}
.cards-wrapper1 {
    width: 100%;
    display: flex;
}

.cards-wrapper2 {
    width: 100%;
    display: flex;
}

.card>img {
    height: 100%;
}

.dots-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

/* dot */
.dot {
    border: none;
    background: rgba(0, 0, 0, 0.2);
    width: 30px;
    height: 30px;
    margin: 5px 10px;
    border-radius: 50%;
}
.dot1 {
    border: none;
    background: rgba(0, 0, 0, 0.2);
    width: 30px;
    height: 30px;
    margin: 5px 10px;
    border-radius: 50%;
}
.dot2 {
    border: none;
    background: rgba(0, 0, 0, 0.2);
    width: 30px;
    height: 30px;
    margin: 5px 10px;
    border-radius: 50%;
}
.active {
    border: 2.9px solid #2d4160;
}
/* dot color */
.dot:nth-child(1),
.dot1:nth-child(1) {background-color: #DBC082;}
.dot:nth-child(2),
.dot1:nth-child(2) {background-color: #C6C6C6;}
.dot:nth-child(3),
.dot1:nth-child(3) {background-color: #EAEAEA;}
.dot:nth-child(4),
.dot1:nth-child(4) {background-color: #3D3D3D;}
.dot2:nth-child(1) {background-color: #4F86EC;}
.dot2:nth-child(2) {background-color: #B2F7EF;}
.dot2:nth-child(3) {background-color: #ff85cb;}
.dot2:nth-child(4) {background-color: #EAEAEA;}
.dot2:nth-child(5) {background-color: #3D3D3D;}
/* dot end */

.lineup .buy {
    text-align: center;
    padding-top: 30px;
    margin: 80px 0;
    border-top: 1px solid silver;
    white-space: nowrap;
}
.buy>div {
    margin: 30px 0;
}
.buy>.more>a {
    padding: 10px 20px;
    border: 1px solid black;
}
.buy>.more>a:hover {
    /* background-color: #19405e; */
    background-color:rgba(0, 113, 227, 1);
    border: none;
    color: white;
    transition: 0.15s;
}

/* footer */
footer{
    background-color: #333;
    height: 120px;
}
.footerwrap{
    /* background-color: greenyellow; */
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    /* justify-content: space-between; */
    margin: auto;
    align-items: center;
}
.footerwrap>a>i{
    font-size: 100px;
    margin: 0 50px;
}
.footerwrap>.import>li{
    line-height: 22px;
    font-size: 14px;
    color: white;
    font-family: 'Pretendard-Regular';
}
.footerwrap>.sns{
    /* background-color: #444; */
    position: absolute;
    right: 2%;
    padding: 0 15px;
    height: 100%;
    align-items: center;
    display: flex;
    flex: 1;
}
.sns i{
    font-size: 30px;
    margin: 0 10px;
}
.sns>li:hover:nth-child(1) i{color:#D09E88;transition: 0.2s;}
.sns>li:hover:nth-child(2) i{color:#53bbf4;transition: 0.2s;}
.sns>li:hover:last-child i{color:#ec0101;transition: 0.2s;}

@media screen and (max-width:1279px) {
    nav .mainmenu{
        white-space: nowrap;
    }
    .navbar .mainmenu{
        width: 75%;
        font-size: 16px;
    }
    .sign i{
        font-size: 22px;
    }
    .navbar .sign>li{
        font-size: 12px;
    }

    .slide>.btn{
        top: 55%;
    }
    .slide>.btn i{
        font-size: 14px;
        padding: 10px 13px;
    }
    .slide>.indicator>a{
        margin: 0 18px;
    }
    .slide>.autoBtn{
        font-size: 12px;
        padding: 0 10px;
    }

    .camera>.camerawrap{
        width: 90%;
    }
    .camera>.camerawrap>h2{
        font-size: 35px;
    }
    .camera>.camerawrap>h3{
        font-size: 30px;
    }
    .camera .cameraimg>img{
        scale: 1.1;
    }
    .camera .abtext{
        top: 17%;
        left: 2%;
    }
    .camera .abtext>li{
        font-size: 18px;
        line-height: 30px;
    }
    .camera{
        overflow: hidden;
    }

    .swiper{
        width: 769px;
    }
    .swiper>h2{
        margin: 50px 0;
        font-size: 30px;
    }

    .youtube {
        padding: 30px 0;
        height: 500px;
    }

    .message{
        height: 450px;
    }
    .message>div {
        font-size: 5vw;
        line-height: 450px;
    }

    .items>div{
        display: block;
    }
    .lineup>h2 {
        padding: 60px 0 10px 0;
    }
    .lineup .buy{
        padding: 0 0 80px 0;
        margin: 30px 0 0 0;
    }

    .footerwrap{
        width: 100%;
    }
}

@media screen and (max-width:768px){
    .youtube {
        padding: 20px 0;
    }
}

@media screen and (max-width:480px) {
    nav{
        position: relative;
        height: 90px;
    }
    .navbar {
        width: 100%;
        background-color: black;
        display: block;
    }
    .navbar>.logo>a{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 40px;
    }
    .navbar>.menu>.mainmenu{
        background-color: black;
        display: block;
        text-align: center;
        /* right: 0; */
        top: 90px;
        width: 100%;
        left: 0;
    }
    .navbar>.menu>.mainmenu>li{
        border-top: 1px solid #777;
        padding: 15px 0;
    }
    .hambtn{
        position: absolute;
        bottom: 6px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
        display: block;
        /* background-color: red; */
    }
    .navbar .sign{
        right: 10px;
    }
    .navbar .sign>li{
        margin: 0 0 16px 20px;
    }
    .snsicon{
        top: 35px;
        right: 10px;
    }
    .navbar>.menu {
        display: none;
    }
    .navbar>.menu.active{
        display: block;
        border: none;
    }

    .slide{
        padding-top: 0;
    }
    .slide .slideCnt {
        width: 100%;
        height: 43vw;
    }
    .slide>.btn {
        display: none;
    }
    .slide .autoBtn{
        bottom: 2px;
    }
    .slide .indicator a {
        padding: 0 20px;
        margin: 0 5px;
    }


    .camera{
        padding: 70px 0;
    }
    .camera>.camerawrap>h2{
        font-size: 16px;
        font-weight: 500;
    }
    .camera>.camerawrap>h3{
        font-size: 14px;
        font-weight: 500;
    }
    .camera .abtext>li{
        /* color: white; */
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
    }
    .camera .abtext {
        top: 13%;
        left: 0;
    }
    .camera .cameraimg>img{
        width: 120%;
        border-radius: 0;
        margin: 30px 0 30px 0;
    }

    .swiper{
        width: 110%;
        height: 450px;
    }
    .swiper>h2{
        text-align: left;
    font-size: 16px;
    font-weight: 500;
    }
    .camerawrap>.swipericon{
        margin-top: 0;
    }
    .swiper-slide>li{
        font-size: 10px;
    }


    .youtube{
        height: 300px;
    }


    .message{
        height: 300px;
    }
    .message>div{
        line-height: 300px;
    }


    .items>div{
        width: 100%;
    }

    footer{
        display: none;
    }
}